body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Serif 4', sans-serif;
}
.section-1{
    display: flex;
    width: 80%;
    margin:0 auto;
    margin-bottom: 50px;
}
.section-1-div{
    width: 50%;
  
  
}

.section-1-div-2{
    font-size: 18px ;
   
    border-left: 5px solid orangered;
  
}
#orange-mission{
    color: orange;
}
.link-btn{
text-decoration: none;
    width:60%;
    background-color: orange;
    border-radius: 10px;
    padding: 7px;
}
.image{
    margin-top:0%;
}
.section-1-outside{
    text-align: center;
}
.section-2{
    width: 80%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Serif 4', sans-serif;
    background-image:url() ;
    
}
   

.section-2 h1{
    text-align: center;
    color: #13103A;
    font-size: 40px;
}

.box-section{
    display: flex;
}

.box-model{
    width: 32%;
    background-color: #ddd;
    margin: 0 auto;
    border-radius: 10px;
}

.box-model img{
    width: 50%;
  
}
.box-model h3{
    font-size: 28px;
    padding-left: 7px;
    font-family: 'Lato', sans-serif;
}

.box-model p{
    padding: 15px;
    font-family: 'Lato', sans-serif;
}

#box-1{
    background-color:palegreen;

}
#box-2{
    background-color:plum;
}

#box-3{
    background-color:slateblue;
}
.section-3{
    display:flex;
    width: 80%;
    margin:0 auto;
    margin-top: 150px;
    

}
.section-3-div-1, .section-3-div-2{
    width: 50%;
    font-family: 'Lato', sans-serif;
}

.section-3-div-1 img{
    width:80%;
}

.section-3-div-2 h1{
    font-weight: bold;
    font-size: 40px;
    color:#343434;
}

.section-3-div-2 p{
    color:rgb(51, 49, 49);
}


.section-3-div{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.section-4{
    display: flex;
    width: 80%;
    margin:150px auto;
    font-family: 'Lato', sans-serif;
    

}
.section-4-div{
    width: 50%;

  
}
.section-4-div img{
    width: 60%;
    padding-left: 40%;
}

.section-4-div h1{
    font-size: 35px;
}
.section-4-div p{
    color:rgb(80, 75, 75);
}
.form {
    width: 500px;
    height: 260px;
    background-color: rgb(223, 230, 236);
    border-radius: 1px solid white;
    border-radius: 10px;
    padding: 30px 50px;
    box-shadow: 10px 10px 5px rgb(214 214 236);
}



.section-5{
    height: 350px;
    display: flex;
    margin-top: 60px;}
    .item {
        width: 400px;
        border: none;
        border-bottom: 2px solid rgb(111, 144, 236);
        background-color: rgb(223, 230, 236);
        margin-bottom: 13px;
    }
    .contact{
        width: 50%;
        margin-left: 40px;
        font-size:30px;
    }
    .button{
        color: white;
        background-color: black;
        padding: 5px;
        border-radius: 7px;
        cursor: pointer;
    }
    footer {
        height: 120px;
        background-color: #0b0d17;
        margin: 0;
    }
    
    .footer-mission{
        color: white;
        text-align: center;
        font-size: 30px; 
        padding-top: 15px;  
    }
    h6{
        color: white;
        text-align: center;
        font-size: 14px;
    }
    .footer-class{
        color: white;
        text-align: center;
        font-size: 20px;
        padding: 20px;
        font-family: 'Moon Dance', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
    }



